@model Quiz.Models.QuestionViewModel;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">@ViewBag.Title</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                    <li class="breadcrumb-item active">Starter</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="card card-body">
        <div class="card-body">
            <div id="customerList">
                <div class="row g-4 mb-3">
                    <div class="col-sm">
                        @Html.DropDownListFor(x => x.SubjectId, (List<SelectListItem>)ViewBag.LstSubject, "--Chọn chủ đề--", new { @class = "form-select" })
                    </div>
                    <div class="col-sm">
                        @Html.DropDownListFor(x => x.TypeQuestionId, (List<SelectListItem>)ViewBag.LstTypeQuestion, "--Chọn loại câu hỏi---", new { @class = "form-select" })
                    </div>
                    <div class="col-sm">
                        
                            <div class="search-box ms-2">
                                @Html.TextBox("SearchText", "", new { @class = "form-control search", @placeholder = "Search" })
                                <i class="ri-search-line search-icon"></i>
                            </div>

                        
                    </div>
                    <div class="col-sm">
                        <div class="d-flex justify-content-sm-end">
                            <div class="search-box ms-2">
                                <a href="@Url.Action("Create","Question")" class="btn btn-success add-btn"><i class="ri-add-line align-bottom me-1"></i> Thêm mới </a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="table-responsive table-card mt-3 mb-1" id="lstQuestion"> 
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModaldelete" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Bạn có muốn xóa dữ liệu này không
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                <button type="button" class="btn btn-primary" onclick="DeleteQuestion()">Có</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        GetListQuestion();
    })
    /// <summary>
    ///  show list question
    /// </summary>
    /// <returns></returns>
    function GetListQuestion(page) {
        var search = $("#SearchText").val();
        var typequestion = $("#TypeQuestionId").val();
        var subject = $("#SubjectId").val();
        $.ajax({
            type: 'POST',
            url: 'Question/ListQuestion',
            data: {
                search: search,
                typequestion: typequestion,
                subject: subject,
                page: page
            },
            success: function (data) {
                $('#lstQuestion').html(data);

            },
        });
    }
    $("#TypeQuestionId").change(function () {
        GetListQuestion();
    })
    $("#SubjectId").change(function () {
        GetListQuestion();
    })
    $("#SearchText").keyup(function () {
        GetListQuestion();
    })
</script>
