
@using Quiz.Helper;
@model Quiz.Models.PageTypeQuestion;
<table class="table align-middle table-nowrap" id="customerTable">
    <thead class="table-light">
        <tr>
            <th class="sort" data-sort="customer_name">Tên loại câu hỏi</th>
            <th class="sort" data-sort="action">Hoạt động</th>
        </tr>
    </thead>
    <tbody class="list form-check-all">
        @foreach (var item in Model.ListTypeQuestion)
        {
            <tr>
                <td>@item.NameTypeQuestion</td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.TypeQuestionId }) |
                    <button data-bs-toggle="modal" data-bs-target="#myModaldelete" onclick="Delete('@item.TypeQuestionId')">
                        Xóa
                    </button>
                </td>
            </tr>

        }
    </tbody>
</table>
<div class="d-flex justify-content-end">
    <div class="pagination-wrap hstack gap-2" id="pagination">
    </div>
</div>
<script>

    function Delete(typeQuestionId) {
        $("#myModaldelete").attr("data-id", typeQuestionId)
    }

    $(document).ready(function () {
        Pagination();

    })
    function DeleteTypeQuestion() {
        let id = $("#myModaldelete").attr("data-id");
        $.ajax({
            type: 'POST',
            url: 'TypeQuestion/Delete',
            data: {
                id: id,
            },
            success: function (data) {
                $("#myModaldelete").modal("hide");
                GetListTypeQuestion(@Model.PageIndex);
            },
        });
    }

    function Pagination() {
            $('#pagination').html('@Html.Raw(Helper.Paging(Model.PageIndex, Model.NumberPage))');
    }
    function NextPage(page) {
        GetListTypeQuestion(page);
    }
</script>