@using Quiz.Helper;
@model Quiz.Models.PageQuestion;
<table class="table align-middle table-nowrap" id="customerTable">
    <thead class="table-light">
        <tr>
            <th class="sort" data-sort="customer_name">Tên câu hỏi</th>
            <th class="sort" data-sort="email">Loại câu hỏi</th>
            <th class="sort" data-sort="email">Cấp độ</th>
            <th class="sort" data-sort="email">Chủ đề</th>
            <th class="sort" data-sort="action">Hoạt động</th>
        </tr>
    </thead>
    <tbody class="list form-check-all">
        @foreach (var item in Model.ListQuestion)
        {
            <tr>
                <td>@item.NameQuestion</td>
                <td>@Html.Raw(Helper.Nametypequestion(item.TypeQuestionId))</td>
                <td>@Html.Raw(Helper.level(item.Level))</td>
                <td>@Html.Raw(Helper.Namesubject(item.SubjectId))</td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.QuestionId }) |
                    <button data-bs-toggle="modal" data-bs-target="#myModaldelete" onclick="Delete('@item.QuestionId')">
                        Xóa
                    </button>
                </td>
            </tr>

        }
    </tbody>
</table>
<div class="d-flex justify-content-end">
    <div class="pagination-wrap hstack gap-2" id="pagination">
    </div>
</div>
<script>

    function Delete(questionId) {
        $("#myModaldelete").attr("data-id", questionId)
    }

    $(document).ready(function () {
        Pagination();

    })
    function DeleteQuestion() {
        let id = $("#myModaldelete").attr("data-id");
        $.ajax({
            type: 'POST',
            url: 'Question/Delete',
            data: {
                id: id,
            },
            success: function (data) {
                $("#myModaldelete").modal("hide");
                GetListQuestion(@Model.PageIndex);
            },
        });
    }
    function Pagination() {
            $('#pagination').html('@Html.Raw(Helper.Paging(Model.PageIndex, Model.NumberPage))');
    }
    function NextPage(page) {
        GetListQuestion(page);
    }
</script>




